<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Inicio de sesión</h4>
        </div>
        <div class="card-body">
          <form>
            <app-text-input
              label="Usuario"
              id="username"
              placeholder="Introduce tu usuario"
            />
            <app-text-input
              label="Contraseña"
              id="password"
              placeholder="Introduce tu contraseña"
            />
            <button type="submit" class="btn btn-primary btn-block">
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
